@font-face {
    font-family: NightStillComes;
    src: url('fonts/night_still_comes/NightStillComes_mine_final_sample.otf');
}
@font-face {
    font-family: Cocomat;
    src: url(fonts/cocomat/Cocomat);
}
@font-face {
    font-family: bauserif;
    src: url(fonts/bauserif.ttf);
}
header {
    float: none;
    height: 45px;
    background-color: (255,255,255,1);
    font-family: 'Gayathri', sans-serif;
    letter-spacing: 18px;
    font-size: 60px;
    padding: 2%;
    margin: 0 auto;
    text-align: center;
    grid-area: head;
  
}
body {
    height: 100%;
    width: 100%;
    background-color: #D9D9D6;
    background-image: url(img/background-gradient.png);
    background-size: cover;
    margin: 0;
    padding: 0px;
}

nav ul {
    list-style: none;
    padding: 2px 4px;
    margin: 0 auto;   
    text-align: center;
}
nav li {
    display: inline-block; /* step 1 */
    font-family: Cocomat;
    font-size: 18px;
    color: white;
    padding: 0px 40px;
}
nav a {
  display: block;
  
}
li:hover {
    text-decoration: underline;
}
.bio-text {
    max-width: 500px;
    max-height: 460px;
    text-align: center;
    color: white;
    font-family: Cocomat;
    font-size: 14px;
    position: absolute;
    overflow: scroll;
    margin: 0 auto;
    left: 15%;
    top: 27%;
}
.archive-text {
    max-width: 100%;
    max-height: 100px;
    text-align: center;
    color: white;
    font-family: Cocomat;
    font-size: 14px;
    overflow: scroll;
    margin: 100px auto;
    
}
.contact-text {
    max-width: 100%;
    max-height: 100px;
    text-align: center;
    color: white;
    font-family: Cocomat;
    font-size: 14px;
    overflow: scroll;
    margin: 100px auto;
    
}
img {
    max-height: 480px;
    position: absolute;
    right: 20%;
    top: 27%;
}
footer {
    height: 100px;
    position: fixed;    
    z-index: 10;
    color: (255,255,255,1);
}
#fade {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}
#fade2 {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
     -ms-animation: fadein 3s; /* Internet Explorer */
      -o-animation: fadein 3s; /* Opera < 12.1 */
         animation: fadein 3s;
}
#fade3 {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}